.item {
  position: fixed;
  margin: 30px;
  padding: 11px;
  box-sizing: border-box;
  width: 440px;
  margin-bottom: 20px;
  background:radial-gradient(#632181,#893351,#c44314) ;
  border-radius: 40px;
  height: 200px;
}




